@import 'reset';
@import 'typography';

$lego-red: hsl(359, 86%, 44%);
$lego-yellow: hsl(49, 100%, 50%); //hsl(57, 91%, 59%)

body {
	display: grid;
	grid-template-areas: 'header' 'main';
	grid-template-rows: 66px 1fr;
	//padding: 1rem;
	//border-top: .5rem solid;
	background-color: #fff;
	color: #111;
	font-family: $font-family-sans-serif;
	//border-image: linear-gradient(to right, $lego-red 10%, $lego-yellow 25%, $lego-red 50%, $lego-yellow 75%, $lego-red 90%) 1;

	// rgb(255, 207, 0)
}
